.container {
    color                : #EEEEEE;
    background           : #202020;
    background-image     : radial-gradient(#353535 1px, transparent 0);
    background-size      : 10px 10px;
    background-position  : -4px -4px;
    background-attachment: local;
    position             : absolute;
    top                  : 56px;
    bottom               : 0;
    left                 : 0;
    right                : 0;

    .header {
        background-color: #191919;
        padding         : 10px 16px;
        margin-bottom   : 4px;
        color           : #EEEEEE;
        font-size       : 18px;
    }

    overflow: auto;

    &::-webkit-scrollbar {
        width : 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #191919;
    }

    &::-webkit-scrollbar-corner {
        background: #191919;
    }

    &::-webkit-scrollbar-thumb {
        background   : #444;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}